<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fab fa-reddit-square fa-lg"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a href="#" [ngClass]="setClass('all')" (click)="getSubReddit('all')">all</a>
            <a href="#" [ngClass]="setClass('games')" (click)="getSubReddit('games')">games</a>
            <a href="#" [ngClass]="setClass('pcgaming')" (click)="getSubReddit('pcgaming')">pcgaming</a>
            <a href="#" [ngClass]="setClass('videos')" (click)="getSubReddit('videos')">videos</a>
            <a href="#" [ngClass]="setClass('technology')" (click)="getSubReddit('technology')">technology</a>
        </div>
    </div>
</nav>