.fa-reddit-square {
    color: #f00;
}

.nav-item {
    text-transform: uppercase;
}

@media all and (max-width: 768px) {
    .fa-lg {
        font-size: 200%;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}