<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fab fa-reddit-square fa-lg"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav" *ngFor="let subreddit of subreddits">
            <a href="#" [ngClass]="setClass(subreddit)" (click)="getSubReddit(subreddit)" data-toggle="collapse"
                data-target="#navbarSupportedContent">{{ subreddit }}</a>
        </div>
        <app-login class="d-none d-md-block" (subreddits)="setSubReddits($event)"></app-login>
    </div>
</nav>