.posts {
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; */
    column-count: 8;
    column-gap: 8px;
}

@media all and (max-width: 1200px) {
    .posts {
        column-count: 7;
    }
}

@media all and (max-width: 992px) {
    .posts {
        column-count: 5;
    }
}

@media all and (max-width: 768px) {
    .posts {
        column-count: 4;
        margin-top: 60px;
    }
}

@media all and (max-width: 576px) {
    .posts {
        /* display: inline-block; */
        column-count: 2;
    }
}