.posts {
    // column-count: 12;
    column-width: 180px;
    column-gap: 0.5rem;
    padding: 0.5rem;
}

@media all and (max-width: 768px) {
    .posts {
        // column-count: 4;
        margin-top: 60px;
    }
}
